<%= stylesheet_link_tag 'index' %>
<p id="notice"><%= notice %></p>
<div>
  <div>
    <h1>Clients 
    <span><%= link_to 'Add Client Profile', new_client_path, class:"btn btn-success float-right" %></span> 
    </h1>
  </div>

  <div id= "client-container">
    <% @clients.each do |client| %>
    <div class ="card m-2" style="width: 32rem;">
      <div class = "card-header">
        <h4><%= link_to client.full_name, client %></h4>
        </div>
        <div class ="card-body">
        <p><%= client.phone_number %></p>
        <p><%= client.email %></p>
          <%= link_to 'Show More Detail', client, class:"btn btn-sm btn-info" %>
          <%= link_to 'Delete Record', client, method: :delete, data: { confirm: 'This action will permanently delete this entry. Are you sure?' }, class:"btn btn-sm btn-danger" %>
      </div>
    </div>
    <% end %>
  </div>
</div>