<p id="notice"><%= notice %></p>

<h1>Clients</h1>
<%= link_to 'New Client', new_client_path %>

    <% @clients.each do |client| %>
      <h4><%= client.full_name %></h4>
      <p><%= client.phone_number %></p>
      <p><%= client.email %></p>
        <%= link_to 'Show More Detail', client %>
        <%= link_to 'Delete Record', client, method: :delete, data: { confirm: 'This action will permanently delete this entry. Are you sure?' } %>
    <% end %>
<br>