<p id="notice"><%= notice %></p>
<h1><%=@client.full_name%>'s' Details</h1>

<p><%= @client.phone_number %></p>
<p><%= @client.email %></p>
<p><%= @client.street_address %></p>
<p><%= @client.city %></p>
<p><%= @client.postal_code %></p>
<% if @client.marketing_consent? %>
<p> Client May Be Contacted About New Products and Offerings </p>
<% else %>
<p> Client Does Not Wish to be Contacted About New Products and Offerings </p>
<% end %>
<%= link_to 'Edit Client Details', edit_client_path(@client) %> |
<%= link_to 'Back to Client Directory', clients_path %>
<br>
<%= link_to 'Add a Policy', new_client_policy_path(@client) %>
<% @policies.each do |policy| %>
<p>Policy Number: <%= policy.policy_number%></p>
<p>Policy Premium: <%= number_to_currency(policy.annual_premium, {precision: 2})%></p>
<%= link_to 'Delete Policy', client_policy_path(@client.id, policy.id), method: :delete %>
<% end %>