<!DOCTYPE html>
<html>
  <head>
    <title>CustomCrm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="m-4">
    <header>
      <nav>
      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <%= link_to 'New Employee Profile', new_user_path %>
        <% end %>
          <%= link_to 'Sign Out', session_path, method: :delete%>
          <%= link_to 'Employee Directory', users_path %>
          <%= link_to 'Client Directory', clients_path %>
      <% else %>
        <%= link_to 'Sign In', new_session_path %>
      <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
