<!DOCTYPE html>
<html>
  <head>
    <title>CustomCrm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js' %>
    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/chat/v3.0/twilio-chat.min.js' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class = "fixed-top">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%# MAURO <img id="logo" src="/assets/logo.svg" alt="logo"> GROUP %>
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <%= link_to 'New Employee Profile', new_user_path %>
        <% end %>
          <%= link_to 'Sign Out', session_path, method: :delete%>
          <%= link_to 'Employee Directory', users_path %>
          <%= link_to 'Client Directory', clients_path %>
      <% else %>
        <%= link_to 'Sign In', new_session_path %>
      <% end %>
      </nav>
    </header>
    <br>
    <div class="m-4">
    <%= yield %>
    </div>
    <% if user_signed_in? %>
    <%= stylesheet_link_tag 'footer' %>
    <footer class="container">
    <div id="chat-container" class="fixed-bottom">
      <div id="chat-header">
        <h4>Chat</h4>
      </div>
        <div class="messages" hidden>
          <div class="message">
            <span class="user">User:</span> Let's chat!
          </div>
        </div>
        <form id="chat-input" hidden>
          <label for="message">Message:</label>
          <input type="text-area" id="message" placeholder="Enter your message..." />
          <button type="submit">Send</button>
        </form>
    </div>
  </footer>
  <% end %>
  </body>

  <script>
  <% if user_signed_in? %>
    document.querySelector("#chat-header").addEventListener("click", () =>{
      let chatBody = document.querySelector(".messages");
      let chatInput = document.querySelector("#chat-input");
      chatBody.toggleAttribute("hidden");
      chatInput.toggleAttribute("hidden");
    })
  <% end %>
  </script>
  
</html>
