<%= form_with(model: [@client, @policy], local: true) do |f| %>
  <% if policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(policy.errors.count, "error") %> prohibited this policy from being saved:</h2>

      <ul>
      <% policy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <div>
    <%= f.label :policy_number%>
    <%= f.text_field :policy_number%>
  </div>
  <div>
    <%= f.label :annual_premium%>
    <%= f.text_field :annual_premium%>
  </div>
  <div>
    <%= f.label :start_date%>
    <%= select_date Date.today, prefix: :start_date %>
  </div>
    <%= f.submit %>
  </div>
<% end %>
